<!DOCTYPE html>
<html>
<title>Drowsiness</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="home" class="w3-bar-item w3-button">Home</a>
  <a href="video" class="w3-bar-item w3-button">Driver Monitoring</a>
  <a href="video1" class="w3-bar-item w3-button">Pothole Detection</a>
  
</div>

<!-- Page Content -->
<div style="margin-left:25%">

<div class="w3-container w3-teal">
  <h1>Driver monitoring & Pothole Detection System Using Deep Learning</h1>
</div>

{% block content %}
{% endblock %}



<!-- Footer-->
<div class="w3-container w3-teal">
  <div class="w3-container w3-cell w3-mobile" style="width:85%">
    <h5>Developed By</h5>
    <div class="w3-container w3-cell">
      <p>Parth Patwardhan</p>
      <p>Pratik Kale</p>
    </div>
    <div class="w3-container w3-cell">
      <p>Krishna Ruparel</p>
      
    </div>
  </div>
  <div class="w3-container w3-cell w3-mobile">
    <h5>Guided By - HOD Computer Department</h5>
    <p>Guide Name - Prof. Ms. Vina M Lomte</p>
  </div>
  </div>

</div>
      
</body>
</html>
